# ex1

In [ ]:
number = [19 , 20 ,14 ,17 ,18.5 , 19.56 , 13.68 , 18.99 , 16 , 9 ]
print(number[::-1])
print(sorted(number))
print(sorted(number , reverse=True))

# ex2

In [ ]:
list = [1 , 2, 3, 4, 5]
a = max(list)
b = min(list)
print(a ,b )

# ex3

In [ ]:

str = input("enter str :")
string = len(str)
print(string)

# ex4